* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
.container {
  background-color: #616d7e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #333;
  background: linear-gradient(
    to right bottom,
    rgba(17, 17, 17, 0.9),
    rgba(160, 70, 70, 0.3)
  );
  color: #fff;
  min-height: 80vh;
  width: 50%;
  border-radius: 0.8rem;
  backdrop-filter: blur(2rem);
  padding: 1rem;
}
.card-title {
  color: #190101;
  text-align: center;
  font-size: 3rem;
}
.card-title i {
  color: aqua;
}
.bg-success {
  margin: 0.8rem 0;
  padding: 0.5rem;
  color: #333;
  background-color: #ddffdd;
  border-left: 6px solid #04aa6d;
}
.bg-danger {
  margin: 0.8rem 0;
  padding: 0.5rem;
  color: #333;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

input {
  border: none;
  border-radius: 0.6rem;
  padding: 0.8rem;
  width: 80%;
  margin-top: 1rem;
  margin-left: 2rem;
}
.btn {
  margin-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.btn i {
  font-size: 1rem;
}
.btn:hover {
  background-color: white;
  color: black;
}
#deleteButton {
  margin-left: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #333;
  color: red;
  transition: all 0.3s;
  cursor: pointer;
}
#deleteButton:hover {
  background-color: white;
  color: red;
}
.li_style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin: 1rem 0;
  transition: all 0.3s;
}

.li_style:hover {
  background-color: #111;
}
